body,
html {
    color: #fff;
    font-weight: 700;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.top {
    background: #DD3142;
    width: 100%;
    float: left;
    height: 50vh;
    display: table;
}

.overlay {
	position: absolute;
	width: 45%;
	height: 0;
	right: 0;
	top: 49vh;
	border-top: 22vh solid #DD3142;
	border-left: 22vh solid transparent;
}

.bottom {
    background: #008CB7;
    width: 100%;
    float: left;
    height: 50vh;
    display: table;
}

.top .content, .bottom .content {
    padding: 0 4%;
    display: table-cell;
  	vertical-align: middle;
}

h1 {
    font-size: 60px;
}
