    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>About Mineo Games</h1>
				<p>We believe in virtual reality as the future of gaming. We aspire to make games that transport you. Our main focus are:</p>
				<ul class="biglist">
				<li>BEST LEVEL OF IMMERSION</li>
                <li>EXPERIMENT THE IMPOSSIBLE</li>
				<li>FEEL DIFFERENT</li>
				<li>OVERCOME YOUR LIMITS</li>
				</ul>
            </div>
        </div>
    </section>
