    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>About Mineo Games</h1>
				<p>We believe in virtual reality, because it allows us to provide you</p>
				<h3>LIVE THE ULTIMATE IMMERSION</h3>
                <h3>EXPERIMENT THE IMPOSSIBLE</h3>
				<h3>MAKE YOU FEEL POWERFUL</h3>
				<h3>OVERCOME YOUR LIMITS</h3>
                <!-- <p><a href="https://www.mineogames.com/games/dung-beetle/">Click here to test our last game DUNG BEETLE !</a></p> -->
            </div>
        </div>
    </section>
