    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>About Mineo Games</h1>
				<p>We believe in virtual reality as the future of gaming. We are devoted to make games that transport you. Our main focus are:</p>
				<ul class="biglist">
				<li>BEST LEVEL OF IMMERSION</li>
                <li>EXPERIMENT THE IMPOSSIBLE</li>
				<li>FEEL DIFFERENT</li>
				<li>OVERCOME YOUR LIMITS</li>
				</ul>
            </div>
        </div>

        <div class="row left-align">
            </br></br></br>
            <h3 >Where this all began?</h3>

            <p>Ever since I can remember, I've been <b>in love with video games</b>.  <br>
                It's a passion that's stayed with me throughout my life and undoubtly influenced my career path in Software Engineering. <br>
                In our spare moments, a group of like-minded friends and I embarked on thrilling <b>game jams</b>. Those short-themed video game creation contests that, despite little sleep, were full of fun and invaluable learning experiences.<br> 
                We began our journey in the world of 2D game development, but soon we explored the realm of 3D gaming. It was during this time that <b>Unreal Engine</b> captured my heart. 
            </p>

            <p> In 2017, we embarked on an unforgettable adventure to Japan to attend the <b>Tokyo Game Show</b>. <br> 
                There, we had our first real encounter with VR technology, which was still in its early stages.  <br>
                But among all the incredible experiences we had, one stood out – <b>Polygon VR</b>. It was a unique and mind-blowing fully-tracked adventure that had us donning PCs on our backs and wielding rifles.  <br>
                We could see and interact with each other's avatars as we freely moved in a spacious room. <br>
                That experience made me feel like we were on a mission as a commando team, fully immersed in the virtual world. <br>
                I could crouch behind objects for cover, leap over chasms, and fire with my own arms. <br>
                It was a revelation that <b>sparked a dream </b> – to create similar emotions for other players.
            </p>        
            <p>
                Two years later, I received my <b>Oculus Start pack</b>, marking the official launch of Mineo Games. It's been an incredible journey, and I can't wait to continue bringing immersive, exhilarating VR experiences to players.
            </p>
            <div class="right-align">
                <span style="font-size: larger;">Guillaume Escarieux, Mineo Games founder</span>
                    </br></br></br>
            </div>
        </div>

            <img alt="polygon" src="{{ "/img/about/polygon_240917.jpg" }}{{ img }}" style="width:70%;" />


    </section>
