<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>Contact</h1>
      <p>
        Want to stay updated monthly about upcoming games progress, to receive news about the studio and the VR world?
        You don't want to miss any releases or sales? 
        <b>Here comes the newsletter.</b>
      </p>
    </div>
  </div>
  {% include en/subscribe-form.html title="Subscribe to the Mineo Games newsletter" %}
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 mt-3">
      <p class="mb-0">
        You are welcome to hangout with us in our social networks!
      </p>
    </div>
  </div>
</section>
