<section id="games" class="content-section text-center">
    <h1>Our games</h1>
    {% for game in site.games %}
    {% if game.page[page.lang] %}
    <a class="game-banner-link" href="{{ site.baseurl }}{{ game.page[page.lang] }}">
    {% endif %}
    <article class="game-banner game-banner--{{ game.slug }}">
        <img class="game-banner__image" src="{{ site.baseurl }}/img/{{ game.img }}" loading="lazy" decoding="async" alt="">
        <h2>{{ game.name }}</h2>
    </article>
    {% if game.page[page.lang] %}
    </a>
    {% endif %}
    {% endfor %}
</section>
