    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="brand-heading" src="{{ site.baseurl }}/img/LOGO-vertical.svg" width="162" height="162" alt="Mineo Games">
                        <p class="intro-text">{{ site.t[page.lang].description }}<br>
                        <a href="#games" class="ds-scroll-hint page-scroll">
                            {% include icon-chevrons.html class="ds-scroll-hint__icon" %}
                            <span class="sr-only">{{ site.t[page.lang].scroll_to_games }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
