<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	<meta name="creator" content="{{ site.organization }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" />
    <link rel="apple-touch-icon" href="{{ site.baseurl}}/apple-touch-icon.png" />

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/resources/font-awesome/css/all.min.css" | prepend: site.baseurl }}">
	<script  data-cookie-consent="strictly-necessary" defer src="{{ "/resources/font-awesome/js/all.min.js" | prepend: site.baseurl }}"></script>
    <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!-- Police du logo -->
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">

    <!-- Cookie Consent by FreePrivacyPolicy.com https://www.FreePrivacyPolicy.com -->
    <script type="text/javascript" src="//www.freeprivacypolicy.com/public/cookie-consent/4.1.0/cookie-consent.js" charset="UTF-8"></script>
    <script type="text/javascript" charset="UTF-8">
    document.addEventListener('DOMContentLoaded', function () {
    cookieconsent.run({"notice_banner_type":"none","consent_type":"none","palette":"dark","language":"en","page_load_consent_levels":["strictly-necessary","tracking"],"notice_banner_reject_button_hide":true,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false});
    });
    </script>

    <!-- Mailchimp popup -->

        <!-- Mail Chimp begin -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet">
        <script type="text/plain" data-cookie-consent="strictly-necessary" id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/ba845a58e9756f53027feeec5/f75c541f7b7529df2fe937dd4.js");</script>
        <!-- Mail Chimp end -->
    <!-- end of Mailchimp popup-->

    <noscript>Cookie Consent by <a href="https://www.freeprivacypolicy.com/">Free Privacy Policy Generator</a></noscript>
    <!-- End Cookie Consent by FreePrivacyPolicy.com https://www.FreePrivacyPolicy.com -->

    <!-- Cookie consent dialog -->
    <div class="cookie-consent">
        <p>This website uses cookies to ensure you get the best experience on our website.
        <button type="button" class="button" id="cookie-consent-btn">Got it!</button>
        <button type="button" class="button"  id="open_preferences_center">Update my preferences</button></p>
    </div>
      
      <script>
        // Check if user has already consented to cookies
        if (localStorage.getItem('cookieConsent') === 'true') {
          document.querySelector('.cookie-consent').style.display = 'none';
        }
        // When user clicks on "Got it!" or update preferences button, save consent to local storage and hide the dialog
        let cookieButtons = document.querySelectorAll('#cookie-consent-btn, #open_preferences_center');
        cookieButtons.forEach(box => {
        box.addEventListener('click', function() {
          localStorage.setItem('cookieConsent', 'true');
          document.querySelector('.cookie-consent').style.display = 'none';
        });
        });
      </script>
      

</head>
