<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta http-equiv="content-language" content="{{ page.lang }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:type" content="website">
  {% if page.image %}<meta property="og:image" content="{{ page.image | absolute_url }}">{% endif %}
  <meta name="creator" content="{{ site.organization }}">

  <!-- CSP: updated to include needed hosts and elements. -->
  <meta http-equiv="Content-Security-Policy" content="
  default-src 'self' data:;
  img-src 'self' data: https://mineogames.github.io https://s3.amazonaws.com https://i.imgur.com https://imgur.com/ https://user-images.githubusercontent.com/ https://www.google.fr https://www.google.com https://www.gstatic.com https://stats.g.doubleclick.net https://digitalasset.intuit.com https://mcusercontent.com;
  font-src 'self' https://fonts.gstatic.com https://assets.brevo.com data:;
  style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://sibforms.com;
  style-src-elem 'self' 'unsafe-inline' https://fonts.googleapis.com https://sibforms.com;
  script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.freeprivacypolicy.com https://sibforms.com https://www.google.com https://www.gstatic.com;
  script-src-elem 'self' 'unsafe-inline' https://www.freeprivacypolicy.com https://*.clarity.ms https://www.googletagmanager.com https://sibforms.com https://www.google.com https://www.gstatic.com;
  connect-src 'self' https://stats.g.doubleclick.net https://*.clarity.ms https://*.sibforms.com https://www.google.com https://www.gstatic.com;
  frame-src https://www.google.com https://recaptcha.google.com;
  form-action 'self' https://*.sibforms.com;
">


  <meta name="referrer" content="strict-origin-when-cross-origin">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
  <link rel="apple-touch-icon" href="{{ site.baseurl}}/apple-touch-icon.png">

  {% if page.brevo_form %}
  <link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
  {% endif %}
  <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}{% if page.asset_version %}?v={{ page.asset_version }}{% endif %}">
  {% if page.stylesheet %}<link rel="stylesheet" href="{{ page.stylesheet | relative_url }}{% if page.asset_version %}?v={{ page.asset_version }}{% endif %}">{% endif %}

  <!-- Preload the LCP image with a high fetchpriority so it starts loading with the stylesheet.-->
  {% unless page.disable_default_preload %}<link rel="preload" fetchpriority="high" as="image" href="{{ site.baseurl }}/img/intro-bg.jpg" type="image/jpeg">{% endunless %}
  <link rel="preload" href="{{ page.preload_font | default: '/resources/font/Manrope-VariableFont_wght.ttf' | relative_url }}" as="font" type="font/ttf" crossorigin>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  {% unless page.minimal_fonts %}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  {% endunless %}
  <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">

  <!-- Font Awesome-->
  {% unless page.minimal_icons %}
  <link rel="stylesheet" href="{{ "/resources/font-awesome/css/all.min.css" | prepend: site.baseurl }}">
  <script data-cookie-consent="strictly-necessary" defer src="{{ "/resources/font-awesome/js/all.min.js" | prepend: site.baseurl }}"></script>
  {% endunless %}


  <!-- CookieConsent (https) -->
  <script type="text/javascript" defer src="//www.freeprivacypolicy.com/public/cookie-consent/4.1.0/cookie-consent.js" charset="UTF-8"></script>

  <!-- External JS initializers -->
  <script defer src="{{ '/js/cookieconsent-init.js' | prepend: site.baseurl }}"></script>
  <script defer src="{{ '/js/cookie-ui.js' | prepend: site.baseurl }}"></script>
  <script data-cookie-consent="tracking" defer src="{{ '/js/clarity-loader.js' | prepend: site.baseurl }}"></script>

</head>
