 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                {% if page.section-type == "index" %}
                <a id="nav-logo" class="navbar-brand page-scroll logo-font" href="#page-top">
                    <img src="{{site.baseurl}}/img/icon.png"> <span class="light"> Mineo Games </span>
                </a>
                {% else %}
                <a id="nav-logo" class="navbar-brand logo-font" href="{{ site.baseurl }}{{ site.home[page.lang] }}">
                    <img src="{{site.baseurl}}/img/icon.png">  <span class="light">Mineo Games</span> 
                </a>
                {% endif %}
                <div class="navbar-brand navbar-locale">
                {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
                {% for post in posts %}
                <a href="{{ post.url }}">{{ post.lang }}</a>
                {% endfor %}

                {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                {% for page in pages %}
                <a href="{{ page.url }}">{{ page.lang }}</a>
                {% endfor %}
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    {% if page.section-type == "index" %}

                    <!-- Scroll to section for each page in index -->
                    {% for p in site.pages_list[page.lang].pages %}
                    <li>
                        <a class="page-scroll" href="#{{ p[1] }}"> {{p[0]}} </a>
                    </li>
                    {% endfor %}

                    {% else %}
                    <!-- Blog, Post, Tag and Error pages -->
                    {% for p in site.pages_list[page.lang].pages %}
                    <li>
                        <a class="page-scroll" href="{{site.pages_list[page.lang].link}}#{{ p[1] }}"> {{p[0]}} </a>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>