/*
 * Custom css of the Mineo Games site.
 */
body {
  font-family: "Montserrat", sans-serif;
}

.logo-font {
  font-family: "Staatliches", cursive;
}

h1 {
  font-family: "Staatliches", cursive;
  font-size: 3.7rem;
}

h2 {
  font-size: 2.5rem;
}

label {
  padding: 1rem;
}

/*
 * Sign up form BEGIN.
 */
div.signup-form h2 {
  color: #d62841;
}

div.signup-form strong {
  font-size: 2rem;
  color: #d62841;
}

div.signup-form label {
  font-size: 1.5rem;
}

div.signup-form input#mc-embedded-subscribe {
  background-color: #d62841;
  font-size: 1.7rem;
}

div.signup-form input#mc-embedded-subscribe:hover {
  background-color: #1495bc;
}
/*
 * Sign up form END.
 */

#carousel {
  overflow: auto;
}

.intro .intro-body .brand-heading {
  height: 350px;
}

/* Main carousel style */
.carousel {
  width: 100%;
  height: auto;
}

/* Indicators list style */
.article-slide .carousel-indicators {
  bottom: 0;
  left: 0;
  margin-left: 5px;
  width: 100%;
}

.carousel-indicators {
  position: relative;
  margin-top: 10px;
}

/* Indicators list style */
.article-slide .carousel-indicators li {
  border: medium none;
  border-radius: 0;
  float: left;
  height: 54px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 5px !important;
  margin-top: 0;
  width: 100px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
  border: 2px solid #ffffff;
  float: left;
  height: 54px;
  left: 0;
  width: 100px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
  border: 2px solid #428bca;
  opacity: 0.7;
}

/* List */

li {
  font-size: 1.8rem;
}

.navbar-nav li {
  font-size: 1.5rem;
}

/* Table*/

table,
th,
td {
  border: 1px solid white;
}

th,
td {
  padding: 1rem;
  text-align: left;
}

.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}

.biglist {
  padding-inline-start: 0;
}

.biglist li {
  list-style-type: none;
  font-weight: bold;
  display: block;
  font-size: 2.5rem;
  font-family: Montserrat, helvetica neue, Helvetica, Arial, sans-serif;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Main line*/

.navbar-brand > img {
  height: 2.5rem;
  width: 2.5rem;
  display: inline;
  margin: 0rem 0.5rem 0.4rem 0rem;
}

#nav-logo {
  padding: 1.2rem 2rem 0rem 1rem;
}

/* button */
.button {
  background-color: #1c87c9;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
  background-color: #ff424d;
  border-radius: 8px;
  padding: 20px 36px;
  color: white;
}


a.patreon-button {
  border-radius: 5px;
  background-color: #efefef;
  color: #ff424d;
  min-height: 42px;
  border: none;
  display: grid;
  place-items: center;
}
a.patreon-button svg {
  max-height: 12px;
  fill: #ff424d;
}
a.patreon-button:active,
a.patreon-button:active:focus,
a.patreon-button:hover {
  background-color: #e13d47;
  color: white;
}  

/* Cookie consent */
.cookie-consent {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.cookie-consent p {
  margin: 0;
  padding: 5px 0;
}

.cookie-consent #cookie-consent-btn {
  padding: 5px 10px;
}

.cookie-consent #cookie-consent-btn:hover {

}

.cookie-consent #open_preferences_center {
  padding: 5px 10px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.cookie-consent #open_preferences_center:hover {
  background-color: #ddd;
}

/* Cookie Preferences */
.cc-cp-foot-save {
  background-color: #e13d47 !important ;
  color:white !important;
}

.freeprivacypolicy-com---nb {
  visibility: hidden;
}

.left-align{
  text-align: left;
}

.center-align{
  text-align: center;
}

.right-align{
  text-align: right;
}


/* GAMES */

/* Vermin Exterminator */
img[alt="GDWC 2021 finalist"] {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}  

/* BLOG */
img.small{
  max-width:25em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
img.medium{
  max-width:50em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
img.large{
  max-width:75em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}