    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>A propos de Mineo Games</h1>
				<p>Nous croyons en la réalité virtuelle, parce qu'elle nous permet de vous fournir</p>
				<h3>L'IMMERSION ULTIME</h3>
                <h3>EXPERIMENTER L'IMPOSSIBLE</h3>
				<h3>SE SENTIR PUISSANT</h3>
				<h3>DEPASSER SES LIMITES</h3>
            </div>
        </div>
    </section>
