    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>A propos de Mineo Games</h1>
				<p>Nous croyons que la Réalité Virtuelle est l'avenir du jeu vidéo. Nous avons à cœur de créer des jeux qui vous transportent. Nos priorités sont :</p>
				<ul class="biglist">
				<li>L'IMMERSION</li>
                <li>EXPERIMENTER L'IMPOSSIBLE</li>
				<li>SE SENTIR DIFFÉRENT</li>
				<li>DEPASSER SES LIMITES</li>
				</ul>
            </div>
        </div>
        <div class="row left-align">
        </br></br></br>
        <h3>Où tout cela a-t-il commencé?</h3>

        <p>D'aussi loin que je me souvienne, j'ai toujours été <b>amoureux des jeux vidéo</b>. <br>
            C'est une passion qui m'a accompagné tout au long de ma vie et qui a sans aucun doute influencé ma carrière dans l'ingénierie logicielle. <br>
            Sur nos temps libres, un groupe d'amis partageant les mêmes idées que moi me retrouvaient lors de "game jams" passionnantes. Ces concours de création de jeux vidéo à thème court qui, malgré le peu de sommeil, étaient emplis de fun et d'expériences d'apprentissage inestimables.<br> 
            Nous avons effectué nos débuts dans le monde du développement de jeux en 2D, mais nous avons rapidement exploré le domaine des jeux en 3D. C'est à cette époque que je suis devenu un fan absolu d'<b>Unreal Engine</b>. 
        </p>

        <p> En 2017, nous nous sommes lancés dans une aventure inoubliable au Japon pour assister au <b>Tokyo Game Show</b>. <br> 
            C'est à cette occasion que nous avons eu notre première véritable rencontre avec la technologie VR, qui en était encore à ses balbutiements. <br>
            Mais parmi toutes nos belles découvertes, l'une d'entre elles s'est démarquée :  <b>Polygon VR</b>. Il s'agissait d'une expérience incroyable et unique, avec le corps entièrement tracké, dans laquelle nous devions porter des PC sur le dos et un fusil dans les mains.  <br>
            Nous pouvions voir et interagir avec les avatars des uns et des autres tout en nous déplaçant librement dans une pièce spacieuse. <br>
            Cette expérience m'a donné l'impression que nous étions vraiment en mission en tant qu'équipe de commando, totalement immergée dans le monde virtuel. <br>
            Je pouvais m'accroupir derrière des objets pour me couvrir, sauter par-dessus des gouffres de lave et tirer avec mes propres mains. <br>
            Cette révélation a fait <b>naître un rêve</b> : créer et faire ressentir des émotions similaires à d'autres joueurs.
        </p>        
        <p>
            Deux ans plus tard, j'ai reçu mon <b>pack Oculus Start</b>, marquant le lancement officiel de Mineo Games. C'est une aventure incroyable, et je suis heureux de pouvoir offrir aux joueurs des expériences VR immersives et exaltantes.
        </p>
        <div class="right-align">
            <span style="font-size: larger;">Guillaume Escarieux, fondateur de Mineo Games</span>
                </br></br></br>
        </div>
    </div>

        <img alt="polygon" src="{{ "/img/about/polygon_240917.jpg" }}{{ img }}" style="width:70%;" />


    </section>
