    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>A propos de Mineo Games</h2>
                <p>Mineo Games est un studio de jeux vidéos indépendant.</p>
                <p>Nous cherchons à créer des jeux 3D immersifs. Pour cela, nous utilisons ces supers outils : <a href="https://www.unrealengine.com/what-is-unreal-engine-4">Unreal Engine 4</a> et <a href="http://www.autodesk.fr/products/3ds-max/overview">Autodesk 3DS Max</a>.</p>
                <p>La sortie de notre jeu <a href="https://www.mineogames.com/games/dung-beetle/">Dung Beetle</a> est imminente!</p>
                <p>Nous sommes deux développeurs et une designer a avoir créé Mineo Games.</p>
            </div>
        </div>
    </section>
