<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
{% include nav.html %}

<section id="game-detail" class="container content-section text-center">
    <div class="game-banner" style="background-image: url(/img/{{ page.img }})">
        <h1>{{ page.title }}</h1>
    </div>

    <section class="text-justify">
        {{ page.content | markdownify }}
    </section>

    {% if page.iframe %}
    <section>
        <h2 class="text-justify">{{ site.t[page.lang].download }}</h2>
        <iframe src="{{ page.iframe }}" frameborder="0" width="100%" height="245"></iframe>
    </section>
    {% endif %}

</section>

{% include carousel.html %}

{% include footer.html %}
{% include js.html %}
<script type="text/javascript">
    $(function () {
        var carousel = $('#carousel');
        if (typeof carousel !== 'undefined') {
            $('#hidden-carousel').appendTo(carousel).show();
        }

        $('.carousel').carousel({
            interval: 5000
        });
    });
</script>

</body>
</html>
