<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}

    <section id="post" class="container content-section text-center">
      <h1><strong>{{ page.title }}</strong></h1>
      <h2>
        <strong>📅{{ page.date | date: "%m/%d/%Y" }}</strong>
      </h2>

      <section class="text-justify">{{ page.content | markdownify }}</section>
      <br/>
      <a href="#" class="page-scroll" style="font-size: 5rem;">⬆️</a>
      <p class="ds-button-row mt-3">
        {% if page.lang == 'fr' %}
        <a class="ds-button ds-button--secondary" href="{{site.baseurl}}/journal/">Voir les autres posts</a>
        {% else %}
        <a class="ds-button ds-button--secondary" href="{{site.baseurl}}/blog/">See other posts</a>
        {% endif %}
      </p>
    </section>


    {% include footer.html %} {% include js.html %}
  </body>
</html>
